<form method="POST" accept="/settings/save" enctype="multipart/form-data">
	<section>
		<h2>General settings</h2>
		<p>
			<label>Language</label>
			<select name="lan_select" onchange="addNewInput(this.value)">
				<option value="en">English</option>
				<option value="cz">Czech</option>
				<option value="ru">Russian</option>
			</select>
		</p>
	</section>
	<section>
		<h2 style="color: red">Danger zone</h2>
		<p>
			<a href="#" class="button">Delete all diary entries</a>
			<a href="#" class="button">Delete all friends</a>
			<a href="#" class="button">Delete everything</a>
		</p>	
	</section>
</form>